.title-container {
  position: absolute
}

.title-content {
  font-size: 44px;
  font-weight: 600;
  color: #51BFF9;
  text-shadow: 0px 4px 1px #091222;
}

.title-subtitle {
  font-size: 36px;
  font-weight: 500;
  color: #3883B6;
}