.marker-style1 {
  border: 1px solid;
  border-radius: 50%;
}

.marker-style1 div {
  border-radius: 50%;
}

.good {
  border-color: #589ABE;
}

.good div {
  background-color: #589ABE;
}

.warnning {
  border-color: #ECC543;
}

.warnning div {
  background-color: #ECC543;
}

.error {
  border-color: #E36B81;
}

.error div {
  background-color: #E36B81;;
}