.tipbox-holder {
  background-color: #19325A;
  opacity: 0.7;
  border-radius: 10px;
  border: 2px solid rgba(0, 154, 97, 0.7);
  border-top: 0px;
  border-top-left-radius: 0px
}
.tipbox-title {
  background-color: #19325A;
  opacity: 0.7;
  border-radius: 10px;
  border: 2px solid rgba(0, 154, 97, 0.7);
  border-bottom: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px; 
  padding: 4px;
  color: #FFF;
}